.login {
    display: flex;
    flex-direction: column; 
    border-radius: 8px;
    width: 50vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px 5px rgb(182, 60, 60);
    background: white;
    position: relative;
}


.containerBlue{
    /* display:flex; */
      align-items:center;
      justify-content:center;
      height:100vh;
      width:50%;
      background-color: #aeb9d6;
    padding: 3rem;
    border-radius: 1rem;
    border:1px solid #3c4251;
  }
    .form-box{
        width:380px;
        height:450px;
        background-color:black;
        padding:20px;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        opacity:0.7;
        border-radius:2%;
    }
  .header-form{
    margin-bottom:15px;
  }
  button{
    margin-top:40px;
    margin-bottom:10px;
  }
  .message{
    display:flex;
    justify-content:space-between
  }
  .social{
    display:flex;
    justify-content:space-around;
    padding:30px;
  }
  
  .social i{
    font-size:35px;
  }
  
  .social i:hover{
    color:red;
    cursor:pointer;
  }
  
  